.overlay {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--white);
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  gap: 20px;
  height: 90%;
  overflow: hidden;
  transition: width 0.3s ease;
}

.imgContainer {
  height: 100%;
  overflow: hidden;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.metaInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.likeButton {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.likeButton:hover {
  background-color: rgb(230, 193, 193);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
